/* colors and fonts */ 
body {
	background: #BBE1FA; 
	color: black; 
	font-family: lora;
	font-size: 15px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: courier;
}

h1{
	color: #3282B8; 
	font-weight: 800;
	font-size: 30px;
}

h2{
	color: rgb(100, 100, 100);
	font-size: 30px;
	font-weight: lighter;
	font-weight: 800;
}

a{
	font-family: courier;
	color: #3282B8;
	text-decoration: none;
	font-weight: 800, 
	font-size: 15px;
}
a:hover {
	color: #21BF73 ;
}

/*custom design with class*/ 

.principale {
	background-color: #BBE1FA;
	width: 800px;
	margin: 100px auto;
	border: #BBE1FA; 
}

.card-white {
	background-color: white;
	padding: 100px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}


.btn-blue {
	background-color: #BBE1FA;
	color: black;
	padding: 15px 35px;
	border-radius: 5px;
}
 
.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

#introduction p {
	margin-bottom: 40px; 
}



@media (max-width: 850px) {
	.principale {
		width: 700px;
	}
}

@media (max-width: 650px) {
	.principale {
		width: 500px;
	}
}

@media (max-width: 450px) {
	.principale {
		width: 300px;
	}
}


div{
	background: white;
	border: 5px solid #3282B8;
	margin: 25px;
}


